.email-bgc {
    background-color: white;
    height: 100vh;
}


.search-line {
    justify-content: center;
    margin-top: 20px;

}

.search-line input {
    font-size: 1.5rem;
    width: 58%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    border: 3px solid rgba(0, 97, 187, 0.541);
    padding-left: 20px;
    outline: none;
    font-family: "Patrick";
    font-weight: bold;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
}

.email-list {
    margin: auto;
    width: 60%;
    border: 3px solid rgba(0, 97, 187, 0.541);
    /* border-radius: 20px; */
    background-color: white;
    text-align: left;
    margin-top: 10px;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;

}

.email-list-headline {
    /* border-radius: 20px 20px 0 0; */
    border-bottom: 5px solid rgba(0, 97, 187, 0.541);
}

.email-list-headline p,
.email-list-headline button {
    width: 33%;
    border: none;
    background-color: white;
    color: rgba(0, 97, 187, 0.641);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Patrick";
    text-align: center;
    justify-content: center;
    align-items: center;
}

.email-list-headline p {
    border-radius: 0 0 10px 0;
    box-shadow: 0 1px 0 1px rgba(0, 97, 187, 0.541);
    margin: 0;
}

#mail-time {
    border-radius: 20px;
    font-weight: normal;
    font-size: 1rem;
    width: 20%;
}

.email-list-headline button {
    cursor: pointer;
    border-radius: 0 0 0 10px;
    box-shadow: 0 1px 0 1px rgba(0, 97, 187, 0.541);
}

.email-list-headline button:hover {
    color: grey;
    box-shadow: 0 3px 3px 0 grey;
    font-style: oblique;
}

.email-list-line {
    border-bottom: 2px solid rgba(0, 97, 187, 0.541);
    display: flex;
    flex-direction: column;
    color: dimgray;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
    border-top: none;
}

.from-to-line {
    margin-left: 20px;
    font-size: 1rem;
    justify-content: space-evenly;
}

p {
    display: flex;
    margin: 0;
}

.from-to-container {
    width: 90%;
    padding-top: 5px;
}

.from {
    margin-left: 20px;
    align-items: left;
    width: 50%;
}


.to {
    margin-right: 20px;
    width: 60%;
}

.from-to-line input {
    width: 20px;
    height: 20px;
    margin-top: 7px;
}

.subject-body-time {
    font-size: 1em;
    justify-content: space-between;
    padding: 0 15px 0 30px;
    margin-bottom: 5px;
    width: 100%;
}

.body {
    text-align: center;
}

.toggle-read {
    margin-right: 10px;
}

.garbage,
.toggle-read {
    background-color: white;
    cursor: pointer;
    border: none;
    margin-top: 5px;
}

.garbage:hover,
.toggle-read:hover {
    border-radius: 50px;
    box-shadow: 0 1px 1px 1px grey;
}

.garbage img,
.toggle-read img {
    background-size: auto;
    width: 25px;
}

.not-read-mail {
    color: black;
    font-weight: bold;
}

.search-line img {
    background-size: auto;
    width: 40px;
}


/* Mail Details */
.email-details-btns {
    width: 60%;
    background-color: white;
    margin: auto;
    border-radius: 20px 20px 0 0;
    border: 3px solid rgba(0, 97, 187, 0.541);
    font-size: 1.2rem;
    justify-content: space-between;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
}

.second-btns-container {
    margin-right: 20px;
}

.email-details-btns button {
    color: black;
    margin-left: 20px;

}

.email-details-btns button:hover {
    font-style: oblique;
    color: rgba(0, 97, 187, 0.741);
}

.mail-content {
    width: 60%;
    margin: 10px auto;
    /* background-color: red; */
    flex-direction: column;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
    border-radius: 0 0 20px 20px;
    border: 3px solid rgba(0, 97, 187, 0.541);
    margin-bottom: 50px;
}

.from-to-date {
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 5px 20px;
}

.mail-subject {
    justify-content: center;
    font-size: 2rem;
    color:rgba(0, 97, 187, 0.541)
}
.mail-body {
    /* justify-content: center; */
    font-size: 1.5rem;
    white-space: pre-line;
    margin-left: 10px;
    margin-inline-start: 10px;
    padding:0;
}
.right {
    text-align: right;
    justify-content: flex-end;
    margin-right: 15px;
}

.left {
    margin-left: 15px;
    text-align: left;
}