* {
    box-sizing: border-box;
}

    
.add-note{
    margin-bottom: 15px;
}

input {
    all:unset;
    height: 40px;
    width: 300px;
    border: 1px solid lightgrey;
    margin-inline-end: 10px;
    font-size: 1.3rem;
}

.icon-new {
    font-size: 30px;
    padding-top: 5px;
}
.note-list {
    margin: auto;
}

.new-note{
    display: flex;
    justify-content: center;
    align-items: center;
}


.line-through {
    text-decoration: line-through;
}


.note {
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
    margin-bottom: 20px;
    page-break-inside: avoid;
    border-radius: 5px;
}

.note-list {
 
    column-count: auto;
    /* column-gap: 20px; */
    /* padding: 20px; */
    margin: 0 auto;
    max-width: 950px;
    column-width: 300px;
}

.buttons {
    display: block;
}

.buttons-no-display {
    display: none;
}

.other-title, .pinned-title {
    font-size: 30px;
    text-align: start;
    margin-inline-start: 20px;
}

.pinned {
    margin-bottom: 15px;
}
    

    

/********* COLOR PICKER *******/

.picker {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid grey;
}

.red-picker {
    background-color: lightsalmon;
}

.blue-picker {
    background-color: lightskyblue;
}
.purple-picker {
    background-color: rgb(233, 177, 255);
}
.yellow-picker {
    background-color: lightyellow;
}


button {
    all:unset;
    color: rgb(126, 126, 126);
    margin-inline-end: 5px;
   
}

button:hover {
    color: rgb(0, 0, 0);
}


/******* NOTES ******/

.note-image {
    background-color: rgb(241, 241, 173);
}
.txt-note{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.image {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.note-video {
    border-radius: 5px;
    margin-bottom: 20px;
}
.note-txt {
    height: fit-content;
    font-size: 1rem;
    background-color: lightgrey;
    color: rgb(0, 0, 0);
}

.note-video {
    background-color: lightsteelblue;
  
}

//******TODOS*******//

.todos-container{
    background-color: pink;
    
}

.note-todo {
    font-size: 1.3rem;
}
.btn-remove-todo {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-inline-start: 10px;
}

.btn-remove-todo:hover {
    background-color: maroon;
    color: white;
}

.note-todo {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1000px) {
 
    .note-list {
        /* column-count: 2;
        margin: auto; */
        column-count: auto;
    }
 
    }


@media (max-width: 670px) {
    
    /* .note-list {
    column-count: 1;
    } */
    .note-list {
        /* column-count: 2;
        margin: auto; */
        column-count: auto;
    }
    .new-note{
        display: inherit;
    }

    .input-new {
        display: block;
        margin: auto;
    }
}