* {
    box-sizing: border-box;
}

.note-list {
    margin: auto;
}

.note {
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
    /* margin-inline-end: 20px; */
    margin-bottom: 20px;
    page-break-inside: avoid;
    border-radius: 20px;

}

.note-list {
    /* justify-content: center;
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px );
    column-gap: 20px;
    row-gap: 20px; */
    /* display: flex;
    flex-wrap: wrap; */
    column-count: 3;
    padding: 20px;

}

button {
    background-color: rgba(0, 97, 187, 0.541);
    border: 1px solid rgba(0, 97, 187, 0.241);
    border-radius: 20px;
    color: white;
    /* border: none; */
}

.note-image {
    background-color: rgb(241, 241, 173);
}

.image {
    width: 250px;
}
iframe {
    border-radius: 20px;
}
.note-txt {
    height: fit-content;
    text-align: start;
    font-size: 1rem;
    background-color: lightgrey;
    color: white;
}

.note-video {
    background-color: lightsteelblue;
  
}

.btn-remove-todo {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-inline-start: 10px;
}

.btn-remove-todo:hover {
    background-color: maroon;
    color: white;
}

.note-todo {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.pinned {
margin-bottom: 15px;
}


.add-note{
    margin-bottom: 15px;
}

/* h2 {
    font-size: 40px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.book-list * {
    margin-left: 20px;
    margin-bottom: 20px;
}

.book-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
    width: 220px;
}
.book-preview img {
    width: 170px;
}

.book-filter {
    padding: 15px 0;
}
.book-filter label:not(:first-of-type) {
    margin-left: 10px;
}
.book-filter input {
    margin-left: 5px;
} */


@media (max-width: 1000px) {

    .note-list {
        column-count: 2;
    }
}

/* @media (max-width: 690px) {
    
    .note-list {
    column-count: 1;
    }
} */