* {
    box-sizing: border-box;
}


input {
    all:unset;
    height: 25px;
    width: 250px;
    border: 1px solid lightgrey;
    margin-inline-end: 10px;
}

.all-container {
    text-align: center;
}
.icon-new {
    font-size: 30px;
    padding-top: 5px;
}
.note-list {
    margin: auto;
}

.new-note{
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-todo-txt {
    /* text-decoration: line-through; */
}

.line-through {
    text-decoration: line-through;
}


.note {
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
    margin-bottom: 20px;
    page-break-inside: avoid;
    border-radius: 5px;
}

.note-list {
 
    column-count: 3;
    column-gap: 20px;
    padding: 20px;
}

.buttons {
    display: block;
}


.buttons-no-display {
    display: none;
}


button {
    all:unset;
    color: rgb(126, 126, 126);
    margin-inline-end: 5px;
   
}

.picker {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid grey;
}

.red-picker {
    background-color: lightsalmon;
}

.blue-picker {
    background-color: lightskyblue;
}
.purple-picker {
    background-color: rgb(213, 108, 255);
}
.yellow-picker {
    background-color: lightyellow;
}


button:hover {
    color: rgb(0, 0, 0);
}

.material-icons:active {
    color: black;
}

.note-image {
    background-color: rgb(241, 241, 173);
}
.txt-note{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.image {
    width: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.note-video {
    border-radius: 5px;
    margin-bottom: 10px;
}
.note-txt {
    height: fit-content;
    font-size: 1rem;
    background-color: lightgrey;
    color: rgb(0, 0, 0);
}

.note-video {
    background-color: lightsteelblue;
  
}

.todos-container{
    background-color: pink;
}
.btn-remove-todo {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-inline-start: 10px;
}

.btn-remove-todo:hover {
    background-color: maroon;
    color: white;
}

.note-todo {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
}

.pinned {
margin-bottom: 15px;
}


.add-note{
    margin-bottom: 15px;
}


@media (max-width: 1000px) {
 
    .note-list {
        column-count: 2;
        margin: auto;
    }
 
    }


@media (max-width: 670px) {
    
    .note-list {
    column-count: 1;
    }
    .new-note{
        display: inherit;
    }

    .input-new {
        display: block;
        margin: auto;
    }
}