* {
    box-sizing: border-box;
  }

.note {
    padding: 20px;
    width:300px;
    box-shadow: 2px 2px 3px 2px #7e7d7d78;
    margin-inline-end: 20px;
    margin-bottom: 20px;
    page-break-inside: avoid;

}

.note-list {
    /* justify-content: center;
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px );
    column-gap: 20px;
    row-gap: 20px; */
    /* display: flex;
    flex-wrap: wrap; */
    column-count: 3;
    padding: 20px;
 
}

.note-image {
    background-color: rgb(241, 241, 173);
}

.image {
   width: 250px;
}

.note-txt {
    height: fit-content;
    text-align: start;
    font-size: 0.9rem;

    background-color: lightgrey;
  
}

.note-video {
    background-color: lightpink;
  
}



/* h2 {
    font-size: 40px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.book-list * {
    margin-left: 20px;
    margin-bottom: 20px;
}

.book-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
    width: 220px;
}
.book-preview img {
    width: 170px;
}

.book-filter {
    padding: 15px 0;
}
.book-filter label:not(:first-of-type) {
    margin-left: 10px;
}
.book-filter input {
    margin-left: 5px;
} */


@media (max-width: 1000px) {
    
    .note-list {
    column-count: 2;
    }
}

/* @media (max-width: 690px) {
    
    .note-list {
    column-count: 1;
    }
} */