@import '../css/apps/email/cmps/EmailMain.css';

*{
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: white;
    /* background-image: linear-gradient(transparent 50%, rgba(255, 0, 0, .5) 50%); */
    /* background-size: 150px 150px; */
    text-align: center;
}

h2 {
    font-size: 40px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-list * {
    margin-left: 20px;
    margin-bottom: 20px;
}

.book-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
    width: 220px;
}

.book-preview img {
    width: 170px;
}

.book-filter {
    padding: 15px 0;
}

.book-filter label:not(:first-of-type) {
    margin-left: 10px;
}

.book-filter input {
    margin-left: 5px;
    margin: auto;
}

/* HOMEPAGE */

h1, h2, h3, h4 {
    margin: 0;
}

/* .page-container {
    max-width: 1000px;
} */

/* HEADER */

.main-header {
    width: 100%;
    /* margin-bottom: 20px; */
    /* background-color: rgb(28, 158, 238); */
    /* color: white; */
    font-family:cursive;
    position: sticky;
    top:0;
    z-index: 100;
    background-color: white;
    border-bottom: 4px solid  rgba(255, 0, 0, 0.5);
}

li {
    margin-inline-end: 20px;
}

a:hover {
    color: rgba(255, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: black;
}
.clear-list {
    list-style: none;
}

.logo {
    margin-inline-start: 20px;
    cursor: pointer;
    font-family:cursive;

}

.logo:hover{
    color: rgba(255, 0, 0, 0.5);
}

.home-img{
    height: 520px;
}
/* FOOTER */

.main-footer {
    background-color:  rgba(255, 0, 0, 0.5);
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family:cursive;

}




/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}



