@import '../css/apps/email/cmps/EmailMain.css';

*{
    box-sizing: border-box;
}

@font-face {
    font-family: "Itim";
    src: url(../fonts/Itim-Regular.ttf);
  }
  @font-face {
    font-family: "Fredoka";
    src: url(../fonts/FredokaOne-Regular.ttf);
  }
  @font-face {
    font-family: "Patrick";
    src: url(../fonts/PatrickHand-Regular.ttf);
  }

body {
    
    font-family: "Patrick";
    background-color: white;
    /* background-image: linear-gradient(transparent 50%, rgba(255, 0, 0, .5) 50%); */
    /* background-size: 150px 150px; */
    text-align: center;
    margin:0;
}

h2 {
    font-size: 40px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-list * {
    margin-left: 20px;
    margin-bottom: 20px;
}

.book-preview {
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    padding: 10px;
    text-align: center;
    width: 220px;
}

.book-preview img {
    width: 170px;
}

.book-filter {
    padding: 15px 0;
}

.book-filter label:not(:first-of-type) {
    margin-left: 10px;
}

.book-filter input {
    margin-left: 5px;
    margin: auto;
}

/* HOMEPAGE */

h1, h2, h3, h4 {
    margin: 0;
}

.page-container {
    max-width: 100%;
}

/* HEADER */

.main-header {
    
    width: 100%;
    /* margin-bottom: 20px; */
    /* background-color: rgb(28, 158, 238); */
    /* color: white; */
    font-family: "Itim";
    position: sticky;
    top:0;
    /* z-index: 100; */
    background-color: white;
    border-bottom: 4px solid   rgba(0, 97, 187, 0.541);
    margin-bottom: 20px;
}

li {
    margin-inline-end: 20px;
}

button, input{
    cursor: pointer;
}

a:hover {
    color: rgb(0, 97, 187);
    font-style: oblique;
}

a {
    text-decoration: none;
    color: black;
}
.clear-list {
    list-style: none;
}

.logo {
    margin-inline-start: 20px;
    cursor: pointer;
}

.logo:hover{
    color: rgb(0, 97, 187);
    font-style: oblique;
}

.home-img{
    height: 520px;
}
/* FOOTER */

.main-footer {
    background-color:  rgb(0, 97, 187);
    color: white;
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}




/* helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}





